//modifiers
.movie {
  &--container {
    // width: 170px;
    // height: 340px;
    height: max-content;
    width: max-content;
    border: white 2px solid;
    display: inline-block;
    padding: 5px;
  }
  &--img {
    width: 150px;
    height: 250px;
  }
  &--favorite {
    border-color: #f00;
  }

  &--hidden {
    opacity: 0.3;
  }
}
