//modifiers
.movie {
  &--container {
    // width: 170px;
    // height: 340px;
    height: max-content;
    width: max-content;
    border: white 2px solid;
    display: inline-block;
    padding: 5px;
    background-color: #6079a8;
  }
  &--img {
    width: 150px;
    height: 250px;
  }
  &--favorite {
    background-color: rgb(87, 167, 56);
  }

  // &--hidden {
  //   opacity: 0.3;
  // }
}
