.series {
  &--container {
    max-width: 240px;
    max-height: 370px;
    width: 240px;
    height: 370px;
    border: $white 2px solid;
    display: inline-block;
    padding: 5px;
    background-color: $dark_blue;
  }
  &--img {
    width: 210px;
    height: 295px;
  }
  &--h2 {
    text-align: center;
    // word-wrap: normal;
    // white-space: nowrap;
    // overflow: scroll;
    // font-size: 1vw; Pendiente de ver cómo ajustar título al tamaño de la caja
  }
  //modifier
  &--favorite {
    background-color: $green;
    color: $grey;
  }
}

.favorites {
  &--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid $grey 1px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin: 2px 0;
    &__div {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }
  }
  &--Xbutton {
    position: relative;
    float: right;
    top: -10px;
    right: -5px;
  }
  &--img {
    width: 50px;
    height: 100px;
    float: left;
  }
  &--title {
    margin: auto;
    color: $grey;
  }
}
