<main class="page__main">
  <section class="search">
    <form action="" class="js_form">
      <input class="js_input" type="text" name="filter" />
      <button class="js_search_btn">Search</button>
    </form>
    <section class="search--favorite">
      <h3 class="search--favorite__title">My favorite series</h3>
      <ul class="js_results_favorites"></ul>
      <button class="search--favorite__reset js_reset_btn">Reset</button>
    </section>
  </section>
  <section class="result js_results">
    <h3>Search result</h3>
  </section>
</main>
