main {
  display: flex;
  flex-direction: row;
  height: 90%;
}

.search {
  padding: 10px;
  border: white solid 1px;
  background-color: cornsilk;
  width: 25%;
  @include tablet {
    min-width: 255px;
  }
}
.result {
  padding: 10px;
  color: whitesmoke;
  text-align: center;
  border: white solid 1px;
  background-color: cadetblue;
  width: 75%;
}
