body {
  border: $border;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include tablet {
    flex-direction: row;
    min-height: 100vh;
    height: max-content;
    overflow-wrap: scroll;
  }
}

.search {
  padding: 10px;
  border: $border;
  background-color: cornsilk;
  height: auto;
  @include tablet {
    min-width: 255px;
    width: 25%;
  }
  &--favorite {
    padding: 5px;
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__title {
      padding: 10px 0;
    }
    &__reset {
      margin: 10px 0;
    }
  }
}
.result {
  padding: 20px 10px 50px 10px;
  color: $white_smoke;
  text-align: center;
  border: $border;
  background-color: cadetblue;
  height: auto;
  @include tablet {
    width: 75%;
  }
}
