main {
  display: flex;
  flex-direction: row;
  height: 90%;
  min-height: 330px;
  height: 85vh;
}

.search {
  padding: 10px;
  border: white solid 1px;
  background-color: cornsilk;
  width: 25%;
  @include tablet {
    min-width: 255px;
  }
  &--favorite {
    padding: 5px;
    text-align: center;
  }
}
.result {
  padding: 20px 10px 50px 10px;
  color: whitesmoke;
  text-align: center;
  border: white solid 1px;
  background-color: cadetblue;
  width: 75%;
}
